services:
  mongo:
    image: mongo:7.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
      # REMOVE MONGO_INITDB_DATABASE line
    volumes:
      - mongo-data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro


  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    environment:
      - NODE_PATH=/app
    ports:
      - "5001:5001"
    env_file:
      - auth-service/.env
    depends_on:
      - mongo

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    environment:
      - NODE_PATH=/app
    ports:
      - "5002:5002"
    env_file:
      - user-service/.env
    depends_on:
      - mongo

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - api-gateway/.env
    depends_on:
      - auth-service

  loki:
    image: grafana/loki:2.9.2
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yml
    volumes:
      - ./platform/observability/loki-config.yml:/etc/loki/loki-config.yml

  grafana:
    image: grafana/grafana:10.2.2
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki

  promtail:
    image: grafana/promtail:2.9.2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./platform/observability/promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

volumes:
  mongo-data:
